@font-face {
    font-family: 'Red-Hat';
    src: url('../fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    /* box-sizing: content-box; */
    box-sizing: border-box;
    font-family: 'Red-Hat', sans-serif;
    font-size: 16px;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(225, 100%, 98%);
    
    height: 100%;
    background-image: url('../images/pattern-background-desktop.svg');

    background-size: 100%; /* Ajusta según tus necesidades: cover, contain, etc. */
    background-position: initial;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.card {
    height: auto;
    width: 100%;
    max-width: 375px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 15px;
}

.div-img {
    max-width: 100%;
    
}

.div-img img {
    margin: 0%;
    padding: 0%;
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.div-info {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.title {
    font-size: 1.7em;    
    font-weight: 900;
    letter-spacing: 1.5px;
}

.text {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.div-plan {
    margin: 5%;
    border-radius: 15px;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

.plan-mini-txt {
    font-weight: 900;
}

.div-btn {
    width: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.btn {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-weight: 700;
}

.btn-blue {
    color: #f2f2f2;
    background-color: hsl(245, 75%, 52%);
}