* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-image: url('../images/pattern-background-desktop.svg');

    background-size: 100%; /* Ajusta según tus necesidades: cover, contain, etc. */
    background-position: initial;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.card {
  width: 100%;
  max-width: 380px; /* Ajusta según tus necesidades */
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.div-img img {
    max-width: 100%;
    height: auto;
}